node-red/pubToMosquitto.json
[
    {
        "id": "347e42a6a46aef70",
        "type": "tab",
        "label": "publish to local mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ed896c1f97c08d5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aac179cd2fb3729f",
        "type": "tab",
        "label": "publish to mosquitto",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8402a36728a1a1f8",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://DESKTOP-BCOSC66:48050/",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "LOCAL SERVER",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": 10
    },
    {
        "id": "281bb8063a85bef9",
        "type": "mqtt-broker",
        "name": "pub mc 9",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "msg.payload",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "67dbd44754472cd2",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "1f9b3d6ea52b5cdc",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "12c5bcd1bb735663"
            ]
        ]
    },
    {
        "id": "12c5bcd1bb735663",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 3",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-11\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 700,
        "wires": [
            [
                "67dbd44754472cd2",
                "15ac505e1e18ff75"
            ]
        ]
    },
    {
        "id": "15ac505e1e18ff75",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-11/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "1b695fd35dc50908",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 900,
        "wires": []
    },
    {
        "id": "cbdaf6c77a0edd8b",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 4",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "1b695fd35dc50908"
            ]
        ]
    },
    {
        "id": "159f6c5fbd15c521",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-11",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=9b7185a4-e709-49b1-a511-47465e7cd315",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 600,
        "wires": [
            [
                "1f9b3d6ea52b5cdc",
                "cbdaf6c77a0edd8b"
            ]
        ]
    },
    {
        "id": "e455ec08d1de0a5a",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b31bd0d12463c48f",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "4611296d9b2e8785"
            ]
        ]
    },
    {
        "id": "4611296d9b2e8785",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 5",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-14\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "e455ec08d1de0a5a",
                "8cabe120aab3c577"
            ]
        ]
    },
    {
        "id": "8cabe120aab3c577",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-14/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 910,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7ef945ccd68494e2",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1300,
        "wires": []
    },
    {
        "id": "8af36367d3d6a26a",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 6",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "7ef945ccd68494e2"
            ]
        ]
    },
    {
        "id": "a584195255a3ca84",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-14",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=3609fd8e-ce82-4bf0-af9c-625dbda3f45c",
                "datatypeName": ""
            }
        ],
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "b31bd0d12463c48f",
                "8af36367d3d6a26a"
            ]
        ]
    },
    {
        "id": "d2ddfaac35e785b3",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1620,
        "wires": []
    },
    {
        "id": "13f4b4671d6e5d41",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 510,
        "y": 1460,
        "wires": [
            [
                "19d52a1c0ae1b269"
            ]
        ]
    },
    {
        "id": "19d52a1c0ae1b269",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 7",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-15\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1540,
        "wires": [
            [
                "d2ddfaac35e785b3",
                "9947acb7bee0da4c"
            ]
        ]
    },
    {
        "id": "9947acb7bee0da4c",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-15/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 890,
        "y": 1580,
        "wires": []
    },
    {
        "id": "335682c6f2735f17",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1740,
        "wires": []
    },
    {
        "id": "569c39ec295b85cf",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 8",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "335682c6f2735f17"
            ]
        ]
    },
    {
        "id": "34f2e2f4d8a0b06d",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-15",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=a91c44d9-c7e2-4c67-a514-ed0f10fdb471",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "13f4b4671d6e5d41",
                "569c39ec295b85cf"
            ]
        ]
    },
    {
        "id": "b0b3601a88269ab6",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 2040,
        "wires": []
    },
    {
        "id": "03132ad2e1fc34d9",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 1880,
        "wires": [
            [
                "09db343aadb46f32"
            ]
        ]
    },
    {
        "id": "09db343aadb46f32",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 9",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-16\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1960,
        "wires": [
            [
                "b0b3601a88269ab6",
                "bbc5bb558ffed8a4"
            ]
        ]
    },
    {
        "id": "bbc5bb558ffed8a4",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-16/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 870,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f5eaa9ba7bad613a",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2160,
        "wires": []
    },
    {
        "id": "5fe38248cecef19f",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 10",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2000,
        "wires": [
            [
                "f5eaa9ba7bad613a"
            ]
        ]
    },
    {
        "id": "c11a966576eaebd4",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-16",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=ec8fc5d6-69fc-4e0a-b4e0-45343f70cbef",
                "datatypeName": ""
            }
        ],
        "x": 140,
        "y": 1860,
        "wires": [
            [
                "03132ad2e1fc34d9",
                "5fe38248cecef19f"
            ]
        ]
    },
    {
        "id": "93195d2aeab2779f",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2480,
        "wires": []
    },
    {
        "id": "5f096fc4f23d33d1",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 470,
        "y": 2320,
        "wires": [
            [
                "fe37b4edcc86f7f4"
            ]
        ]
    },
    {
        "id": "fe37b4edcc86f7f4",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 11",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-4\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2400,
        "wires": [
            [
                "93195d2aeab2779f",
                "3086cdcb05c50c3f"
            ]
        ]
    },
    {
        "id": "3086cdcb05c50c3f",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-4/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 840,
        "y": 2440,
        "wires": []
    },
    {
        "id": "88af1095f183e69c",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2600,
        "wires": []
    },
    {
        "id": "3a61d5c13597cc93",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 12",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2440,
        "wires": [
            [
                "88af1095f183e69c"
            ]
        ]
    },
    {
        "id": "85d5a6c2659e3b8c",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-4",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=2ecff197-6a2d-4e87-bfb5-2af1077b09d5",
                "datatypeName": ""
            }
        ],
        "x": 110,
        "y": 2300,
        "wires": [
            [
                "5f096fc4f23d33d1",
                "3a61d5c13597cc93"
            ]
        ]
    },
    {
        "id": "e18f20579a3fc9a1",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2840,
        "wires": []
    },
    {
        "id": "89970437a1d52bb4",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 470,
        "y": 2680,
        "wires": [
            [
                "1c8b8226a3fbcd07"
            ]
        ]
    },
    {
        "id": "1c8b8226a3fbcd07",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 13",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-5\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2760,
        "wires": [
            [
                "e18f20579a3fc9a1",
                "f82942010e4194c5"
            ]
        ]
    },
    {
        "id": "f82942010e4194c5",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-5/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 840,
        "y": 2800,
        "wires": []
    },
    {
        "id": "e2cc8ca8bfc8c53d",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2960,
        "wires": []
    },
    {
        "id": "2a45018c7d1582a8",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 14",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2800,
        "wires": [
            [
                "e2cc8ca8bfc8c53d"
            ]
        ]
    },
    {
        "id": "a34a896ba7311855",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-5",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=e5b29816-d85d-45c5-a1c8-e65d3deae6bd",
                "datatypeName": ""
            }
        ],
        "x": 110,
        "y": 2660,
        "wires": [
            [
                "89970437a1d52bb4",
                "2a45018c7d1582a8"
            ]
        ]
    },
    {
        "id": "e6b5d7da7033691d",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 3320,
        "wires": []
    },
    {
        "id": "a895f7b1ba72be8f",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 3160,
        "wires": [
            [
                "e9b1183bac280c6b"
            ]
        ]
    },
    {
        "id": "e9b1183bac280c6b",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 17",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-6\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 3240,
        "wires": [
            [
                "e6b5d7da7033691d",
                "3a28e0e8056b837f"
            ]
        ]
    },
    {
        "id": "3a28e0e8056b837f",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-6/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 860,
        "y": 3280,
        "wires": []
    },
    {
        "id": "82662f231dd9d166",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 3440,
        "wires": []
    },
    {
        "id": "64edd05d63aec1a3",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 18",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 3280,
        "wires": [
            [
                "82662f231dd9d166"
            ]
        ]
    },
    {
        "id": "7a467242d2f0fbfc",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-6",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=4324bcfb-a756-41f7-a633-4af3122ed729",
                "datatypeName": ""
            }
        ],
        "x": 130,
        "y": 3140,
        "wires": [
            [
                "a895f7b1ba72be8f",
                "64edd05d63aec1a3"
            ]
        ]
    },
    {
        "id": "a9684c2229056769",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 4000,
        "wires": []
    },
    {
        "id": "923c84cd8560ea6f",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 430,
        "y": 3840,
        "wires": [
            [
                "81a6ded8b7fb15c4"
            ]
        ]
    },
    {
        "id": "81a6ded8b7fb15c4",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 1",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-9\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 3920,
        "wires": [
            [
                "a9684c2229056769",
                "98047d915164e3fb"
            ]
        ]
    },
    {
        "id": "98047d915164e3fb",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-9/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 800,
        "y": 3960,
        "wires": []
    },
    {
        "id": "1d64d3eac2423517",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 4120,
        "wires": []
    },
    {
        "id": "fa53c2b05c037de3",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 2",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 3960,
        "wires": [
            [
                "1d64d3eac2423517"
            ]
        ]
    },
    {
        "id": "54d81ee2c15db32c",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "m-9",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=dfaa012d-902c-4e51-b812-56b5df1ab6d8",
                "datatypeName": ""
            }
        ],
        "x": 70,
        "y": 3820,
        "wires": [
            [
                "923c84cd8560ea6f",
                "fa53c2b05c037de3"
            ]
        ]
    },
    {
        "id": "f61bec5c1df011a8",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "222f7fd11f336177",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "5225892a27959161"
            ]
        ]
    },
    {
        "id": "5225892a27959161",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 15",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-1\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "f61bec5c1df011a8",
                "b0a743d04b0bce27"
            ]
        ]
    },
    {
        "id": "b0a743d04b0bce27",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-1/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "5b5c2285c6da1c8f",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "8579e3a33eb4809c",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 16",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "5b5c2285c6da1c8f"
            ]
        ]
    },
    {
        "id": "40edb267dc8f4b40",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-1",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=04703049-2f00-4d22-b5a5-b8e73b1aefc9",
                "datatypeName": ""
            }
        ],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "222f7fd11f336177",
                "8579e3a33eb4809c"
            ]
        ]
    },
    {
        "id": "af72c855e92a778b",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 3660,
        "wires": []
    },
    {
        "id": "9a032e08cc777f5b",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 440,
        "y": 3500,
        "wires": [
            [
                "058c528a88c0a551"
            ]
        ]
    },
    {
        "id": "058c528a88c0a551",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 19",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-8\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 3580,
        "wires": [
            [
                "af72c855e92a778b",
                "1221ad30985d4327"
            ]
        ]
    },
    {
        "id": "1221ad30985d4327",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-8/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 810,
        "y": 3620,
        "wires": []
    },
    {
        "id": "e45dcf7a211e78f9",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 3780,
        "wires": []
    },
    {
        "id": "c743bf0e1d91da25",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 20",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3620,
        "wires": [
            [
                "e45dcf7a211e78f9"
            ]
        ]
    },
    {
        "id": "2ed4504a58d3f034",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-8",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=24f0072f-e7dd-40ec-ac9d-cb8c8d3a3ded",
                "datatypeName": ""
            }
        ],
        "x": 80,
        "y": 3480,
        "wires": [
            [
                "9a032e08cc777f5b",
                "c743bf0e1d91da25"
            ]
        ]
    },
    {
        "id": "23c03e9094cc7049",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "4fac8b5a72067691",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "3a34e5c1227e4799"
            ]
        ]
    },
    {
        "id": "3a34e5c1227e4799",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 3",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-11\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 700,
        "wires": [
            [
                "23c03e9094cc7049",
                "b580d4646310ae5e"
            ]
        ]
    },
    {
        "id": "b580d4646310ae5e",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-11/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 950,
        "y": 740,
        "wires": []
    },
    {
        "id": "c5b0f05ed4b2d23a",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 900,
        "wires": []
    },
    {
        "id": "b280f948e3da2ef4",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 4",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "c5b0f05ed4b2d23a"
            ]
        ]
    },
    {
        "id": "781220d1062a588b",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-11",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=9b7185a4-e709-49b1-a511-47465e7cd315",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 600,
        "wires": [
            [
                "4fac8b5a72067691",
                "b280f948e3da2ef4"
            ]
        ]
    },
    {
        "id": "dd7ed4e8b147449c",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1180,
        "wires": []
    },
    {
        "id": "25ee0fc93b844155",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "2e172e930d0b306d"
            ]
        ]
    },
    {
        "id": "2e172e930d0b306d",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 5",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-14\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "dd7ed4e8b147449c",
                "5ba5bab7af36f050"
            ]
        ]
    },
    {
        "id": "5ba5bab7af36f050",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-14/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 970,
        "y": 1140,
        "wires": []
    },
    {
        "id": "80a0dc80ec657daf",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1300,
        "wires": []
    },
    {
        "id": "6edbbea7e8d81580",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 6",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "80a0dc80ec657daf"
            ]
        ]
    },
    {
        "id": "27d05939190cb438",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-14",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=3609fd8e-ce82-4bf0-af9c-625dbda3f45c",
                "datatypeName": ""
            }
        ],
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "25ee0fc93b844155",
                "6edbbea7e8d81580"
            ]
        ]
    },
    {
        "id": "8336ee42ae30db5c",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1620,
        "wires": []
    },
    {
        "id": "dc003be96fe1306d",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 510,
        "y": 1460,
        "wires": [
            [
                "6e67ef37577f1e23"
            ]
        ]
    },
    {
        "id": "6e67ef37577f1e23",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 7",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-15\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1540,
        "wires": [
            [
                "8336ee42ae30db5c",
                "b65983c8c94cfb44"
            ]
        ]
    },
    {
        "id": "b65983c8c94cfb44",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-15/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 950,
        "y": 1580,
        "wires": []
    },
    {
        "id": "0bada8daad3b4038",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1740,
        "wires": []
    },
    {
        "id": "cb585c549ebe5512",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 8",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "0bada8daad3b4038"
            ]
        ]
    },
    {
        "id": "193d121860c185ba",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-15",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=a91c44d9-c7e2-4c67-a514-ed0f10fdb471",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "dc003be96fe1306d",
                "cb585c549ebe5512"
            ]
        ]
    },
    {
        "id": "685eb1d2d83cd756",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 2040,
        "wires": []
    },
    {
        "id": "09bd774dc97bcbc4",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 1880,
        "wires": [
            [
                "a4da4468fc27e6ce"
            ]
        ]
    },
    {
        "id": "a4da4468fc27e6ce",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 9",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-16\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1960,
        "wires": [
            [
                "685eb1d2d83cd756",
                "46856247470c583c"
            ]
        ]
    },
    {
        "id": "46856247470c583c",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-16/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 930,
        "y": 2000,
        "wires": []
    },
    {
        "id": "2eb917e6e64a666e",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2160,
        "wires": []
    },
    {
        "id": "9a83f56f763994f9",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 10",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2000,
        "wires": [
            [
                "2eb917e6e64a666e"
            ]
        ]
    },
    {
        "id": "ee6e8b17a9f4def3",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-16",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=ec8fc5d6-69fc-4e0a-b4e0-45343f70cbef",
                "datatypeName": ""
            }
        ],
        "x": 140,
        "y": 1860,
        "wires": [
            [
                "09bd774dc97bcbc4",
                "9a83f56f763994f9"
            ]
        ]
    },
    {
        "id": "101d01083f959a26",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2480,
        "wires": []
    },
    {
        "id": "fa5bc92523c388a9",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 470,
        "y": 2320,
        "wires": [
            [
                "2be3086a6e812824"
            ]
        ]
    },
    {
        "id": "2be3086a6e812824",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 11",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-4\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2400,
        "wires": [
            [
                "101d01083f959a26",
                "14a189dabed7f23b"
            ]
        ]
    },
    {
        "id": "14a189dabed7f23b",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-4/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 900,
        "y": 2440,
        "wires": []
    },
    {
        "id": "08b069b99ac7e604",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2600,
        "wires": []
    },
    {
        "id": "103277aeb03e8b9c",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 12",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2440,
        "wires": [
            [
                "08b069b99ac7e604"
            ]
        ]
    },
    {
        "id": "6f634fbfc10abadc",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-4",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=2ecff197-6a2d-4e87-bfb5-2af1077b09d5",
                "datatypeName": ""
            }
        ],
        "x": 110,
        "y": 2300,
        "wires": [
            [
                "fa5bc92523c388a9",
                "103277aeb03e8b9c"
            ]
        ]
    },
    {
        "id": "657b2c5d0ec88815",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2840,
        "wires": []
    },
    {
        "id": "a66b7dce18d50b75",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 470,
        "y": 2680,
        "wires": [
            [
                "9ada050ae8cf526d"
            ]
        ]
    },
    {
        "id": "9ada050ae8cf526d",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 13",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-5\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2760,
        "wires": [
            [
                "657b2c5d0ec88815",
                "1ba33e197360ebd3"
            ]
        ]
    },
    {
        "id": "1ba33e197360ebd3",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-5/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 900,
        "y": 2800,
        "wires": []
    },
    {
        "id": "f04f4d1ef8e0156a",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2960,
        "wires": []
    },
    {
        "id": "b569999041a6008a",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 14",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2800,
        "wires": [
            [
                "f04f4d1ef8e0156a"
            ]
        ]
    },
    {
        "id": "64a1a02803205107",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-5",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=e5b29816-d85d-45c5-a1c8-e65d3deae6bd",
                "datatypeName": ""
            }
        ],
        "x": 110,
        "y": 2660,
        "wires": [
            [
                "a66b7dce18d50b75",
                "b569999041a6008a"
            ]
        ]
    },
    {
        "id": "a9a2d1f8a89894f0",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 3320,
        "wires": []
    },
    {
        "id": "6a7b667c20d471b3",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 3160,
        "wires": [
            [
                "1d1a0bfa2cbd866c"
            ]
        ]
    },
    {
        "id": "1d1a0bfa2cbd866c",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 17",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-6\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 3240,
        "wires": [
            [
                "a9a2d1f8a89894f0",
                "dba3fe4ce9f82586"
            ]
        ]
    },
    {
        "id": "dba3fe4ce9f82586",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-6/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 920,
        "y": 3280,
        "wires": []
    },
    {
        "id": "414bfbe5a036f8eb",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 3440,
        "wires": []
    },
    {
        "id": "6e54032d8e18b0e2",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 18",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 3280,
        "wires": [
            [
                "414bfbe5a036f8eb"
            ]
        ]
    },
    {
        "id": "4d4af145c22506ac",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-6",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=4324bcfb-a756-41f7-a633-4af3122ed729",
                "datatypeName": ""
            }
        ],
        "x": 130,
        "y": 3140,
        "wires": [
            [
                "6a7b667c20d471b3",
                "6e54032d8e18b0e2"
            ]
        ]
    },
    {
        "id": "fb555f2da829c5ac",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 4000,
        "wires": []
    },
    {
        "id": "9f6d24241fcb7507",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 430,
        "y": 3840,
        "wires": [
            [
                "288b6e4e07a36dde"
            ]
        ]
    },
    {
        "id": "288b6e4e07a36dde",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 1",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-9\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 3920,
        "wires": [
            [
                "fb555f2da829c5ac",
                "c30e2d3b5d14ceda"
            ]
        ]
    },
    {
        "id": "c30e2d3b5d14ceda",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-9/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 860,
        "y": 3960,
        "wires": []
    },
    {
        "id": "9283143b13d86e2f",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 4120,
        "wires": []
    },
    {
        "id": "f4e988a28d335bf6",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 2",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 3960,
        "wires": [
            [
                "9283143b13d86e2f"
            ]
        ]
    },
    {
        "id": "c74f8358d86b94b3",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "m-9",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=dfaa012d-902c-4e51-b812-56b5df1ab6d8",
                "datatypeName": ""
            }
        ],
        "x": 70,
        "y": 3820,
        "wires": [
            [
                "9f6d24241fcb7507",
                "f4e988a28d335bf6"
            ]
        ]
    },
    {
        "id": "fa861f744f0b5ba4",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "aea8bc0daeb3b828",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "589305960bd8a02c"
            ]
        ]
    },
    {
        "id": "589305960bd8a02c",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 15",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-1\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "fa861f744f0b5ba4",
                "b3b25056e05f64e5"
            ]
        ]
    },
    {
        "id": "b3b25056e05f64e5",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-1/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4c97a6c1c2c6c6d",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "c058b534514ed93e",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 16",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "f4c97a6c1c2c6c6d"
            ]
        ]
    },
    {
        "id": "19243a64fe6a1888",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-1",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=04703049-2f00-4d22-b5a5-b8e73b1aefc9",
                "datatypeName": ""
            }
        ],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "aea8bc0daeb3b828",
                "c058b534514ed93e"
            ]
        ]
    },
    {
        "id": "eceb9cd7f0ed9a58",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 3660,
        "wires": []
    },
    {
        "id": "efa90ff916dffa82",
        "type": "OPCUA-IIoT-Read",
        "z": "aac179cd2fb3729f",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 440,
        "y": 3500,
        "wires": [
            [
                "6d7f0f8580f2b764"
            ]
        ]
    },
    {
        "id": "6d7f0f8580f2b764",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 19",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-8\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 3580,
        "wires": [
            [
                "eceb9cd7f0ed9a58",
                "0bcce39978ebc6a8"
            ]
        ]
    },
    {
        "id": "0bcce39978ebc6a8",
        "type": "mqtt out",
        "z": "aac179cd2fb3729f",
        "name": "",
        "topic": "yamaha/ano-jonfry/mc-8/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 870,
        "y": 3620,
        "wires": []
    },
    {
        "id": "b979913a895363a1",
        "type": "debug",
        "z": "aac179cd2fb3729f",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 3780,
        "wires": []
    },
    {
        "id": "6e44d9820605fa26",
        "type": "function",
        "z": "aac179cd2fb3729f",
        "name": "function 20",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3620,
        "wires": [
            [
                "b979913a895363a1"
            ]
        ]
    },
    {
        "id": "5358961560921c41",
        "type": "OPCUA-IIoT-Inject",
        "z": "aac179cd2fb3729f",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-8",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=24f0072f-e7dd-40ec-ac9d-cb8c8d3a3ded",
                "datatypeName": ""
            }
        ],
        "x": 80,
        "y": 3480,
        "wires": [
            [
                "efa90ff916dffa82",
                "6e44d9820605fa26"
            ]
        ]
    }
]