node-red/pubToLocal.json
[
    {
        "id": "347e42a6a46aef70",
        "type": "tab",
        "label": "publish to local mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67dbd44754472cd2",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "1f9b3d6ea52b5cdc",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "12c5bcd1bb735663"
            ]
        ]
    },
    {
        "id": "12c5bcd1bb735663",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 3",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-10\", ipAddress: \"192.168.1.11\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 700,
        "wires": [
            [
                "67dbd44754472cd2",
                "15ac505e1e18ff75"
            ]
        ]
    },
    {
        "id": "15ac505e1e18ff75",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-10/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "1b695fd35dc50908",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 900,
        "wires": []
    },
    {
        "id": "cbdaf6c77a0edd8b",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 4",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "1b695fd35dc50908"
            ]
        ]
    },
    {
        "id": "159f6c5fbd15c521",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-10",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=9b7185a4-e709-49b1-a511-47465e7cd315",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 600,
        "wires": [
            [
                "1f9b3d6ea52b5cdc",
                "cbdaf6c77a0edd8b"
            ]
        ]
    },
    {
        "id": "e455ec08d1de0a5a",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b31bd0d12463c48f",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "4611296d9b2e8785"
            ]
        ]
    },
    {
        "id": "4611296d9b2e8785",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 5",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-14\", ipAddress: \"192.168.1.14\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "e455ec08d1de0a5a",
                "8cabe120aab3c577"
            ]
        ]
    },
    {
        "id": "8cabe120aab3c577",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-14/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 910,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7ef945ccd68494e2",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1300,
        "wires": []
    },
    {
        "id": "8af36367d3d6a26a",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 6",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "7ef945ccd68494e2"
            ]
        ]
    },
    {
        "id": "a584195255a3ca84",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-14",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=3609fd8e-ce82-4bf0-af9c-625dbda3f45c",
                "datatypeName": ""
            }
        ],
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "b31bd0d12463c48f",
                "8af36367d3d6a26a"
            ]
        ]
    },
    {
        "id": "d2ddfaac35e785b3",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1620,
        "wires": []
    },
    {
        "id": "13f4b4671d6e5d41",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 510,
        "y": 1460,
        "wires": [
            [
                "19d52a1c0ae1b269"
            ]
        ]
    },
    {
        "id": "19d52a1c0ae1b269",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 7",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-15\", ipAddress: \"192.168.1.15\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1540,
        "wires": [
            [
                "d2ddfaac35e785b3",
                "9947acb7bee0da4c"
            ]
        ]
    },
    {
        "id": "9947acb7bee0da4c",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-15/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 890,
        "y": 1580,
        "wires": []
    },
    {
        "id": "335682c6f2735f17",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1740,
        "wires": []
    },
    {
        "id": "569c39ec295b85cf",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 8",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1580,
        "wires": [
            [
                "335682c6f2735f17"
            ]
        ]
    },
    {
        "id": "34f2e2f4d8a0b06d",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-15",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=a91c44d9-c7e2-4c67-a514-ed0f10fdb471",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "13f4b4671d6e5d41",
                "569c39ec295b85cf"
            ]
        ]
    },
    {
        "id": "b0b3601a88269ab6",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 2040,
        "wires": []
    },
    {
        "id": "03132ad2e1fc34d9",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 1880,
        "wires": [
            [
                "09db343aadb46f32"
            ]
        ]
    },
    {
        "id": "09db343aadb46f32",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 9",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-16\", ipAddress: \"192.168.1.16\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1960,
        "wires": [
            [
                "b0b3601a88269ab6",
                "bbc5bb558ffed8a4"
            ]
        ]
    },
    {
        "id": "bbc5bb558ffed8a4",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-16/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 870,
        "y": 2000,
        "wires": []
    },
    {
        "id": "f5eaa9ba7bad613a",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2160,
        "wires": []
    },
    {
        "id": "5fe38248cecef19f",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 10",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2000,
        "wires": [
            [
                "f5eaa9ba7bad613a"
            ]
        ]
    },
    {
        "id": "c11a966576eaebd4",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-16",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=ec8fc5d6-69fc-4e0a-b4e0-45343f70cbef",
                "datatypeName": ""
            }
        ],
        "x": 140,
        "y": 1860,
        "wires": [
            [
                "03132ad2e1fc34d9",
                "5fe38248cecef19f"
            ]
        ]
    },
    {
        "id": "93195d2aeab2779f",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2480,
        "wires": []
    },
    {
        "id": "5f096fc4f23d33d1",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 470,
        "y": 2320,
        "wires": [
            [
                "fe37b4edcc86f7f4"
            ]
        ]
    },
    {
        "id": "fe37b4edcc86f7f4",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 11",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-4\", ipAddress: \"192.168.1.4\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2400,
        "wires": [
            [
                "93195d2aeab2779f",
                "3086cdcb05c50c3f"
            ]
        ]
    },
    {
        "id": "3086cdcb05c50c3f",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-4/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 840,
        "y": 2440,
        "wires": []
    },
    {
        "id": "88af1095f183e69c",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2600,
        "wires": []
    },
    {
        "id": "3a61d5c13597cc93",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 12",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2440,
        "wires": [
            [
                "88af1095f183e69c"
            ]
        ]
    },
    {
        "id": "85d5a6c2659e3b8c",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-4",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=2ecff197-6a2d-4e87-bfb5-2af1077b09d5",
                "datatypeName": ""
            }
        ],
        "x": 110,
        "y": 2300,
        "wires": [
            [
                "5f096fc4f23d33d1",
                "3a61d5c13597cc93"
            ]
        ]
    },
    {
        "id": "e18f20579a3fc9a1",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2840,
        "wires": []
    },
    {
        "id": "89970437a1d52bb4",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 470,
        "y": 2680,
        "wires": [
            [
                "1c8b8226a3fbcd07"
            ]
        ]
    },
    {
        "id": "1c8b8226a3fbcd07",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 13",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-5\", ipAddress: \"192.168.1.5\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2760,
        "wires": [
            [
                "e18f20579a3fc9a1",
                "f82942010e4194c5"
            ]
        ]
    },
    {
        "id": "f82942010e4194c5",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-5/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 840,
        "y": 2800,
        "wires": []
    },
    {
        "id": "e2cc8ca8bfc8c53d",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2960,
        "wires": []
    },
    {
        "id": "2a45018c7d1582a8",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 14",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2800,
        "wires": [
            [
                "e2cc8ca8bfc8c53d"
            ]
        ]
    },
    {
        "id": "a34a896ba7311855",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-5",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=e5b29816-d85d-45c5-a1c8-e65d3deae6bd",
                "datatypeName": ""
            }
        ],
        "x": 110,
        "y": 2660,
        "wires": [
            [
                "89970437a1d52bb4",
                "2a45018c7d1582a8"
            ]
        ]
    },
    {
        "id": "e6b5d7da7033691d",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 3320,
        "wires": []
    },
    {
        "id": "a895f7b1ba72be8f",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 3160,
        "wires": [
            [
                "e9b1183bac280c6b"
            ]
        ]
    },
    {
        "id": "e9b1183bac280c6b",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 17",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-6\", ipAddress: \"192.168.1.6\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 3240,
        "wires": [
            [
                "e6b5d7da7033691d",
                "3a28e0e8056b837f"
            ]
        ]
    },
    {
        "id": "3a28e0e8056b837f",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-6/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 860,
        "y": 3280,
        "wires": []
    },
    {
        "id": "82662f231dd9d166",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 3440,
        "wires": []
    },
    {
        "id": "64edd05d63aec1a3",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 18",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 3280,
        "wires": [
            [
                "82662f231dd9d166"
            ]
        ]
    },
    {
        "id": "7a467242d2f0fbfc",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-6",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=4324bcfb-a756-41f7-a633-4af3122ed729",
                "datatypeName": ""
            }
        ],
        "x": 130,
        "y": 3140,
        "wires": [
            [
                "a895f7b1ba72be8f",
                "64edd05d63aec1a3"
            ]
        ]
    },
    {
        "id": "a9684c2229056769",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 4000,
        "wires": []
    },
    {
        "id": "923c84cd8560ea6f",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 430,
        "y": 3840,
        "wires": [
            [
                "81a6ded8b7fb15c4"
            ]
        ]
    },
    {
        "id": "81a6ded8b7fb15c4",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 1",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-9\", ipAddress: \"192.168.1.9\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 4020,
        "wires": [
            [
                "a9684c2229056769",
                "98047d915164e3fb"
            ]
        ]
    },
    {
        "id": "98047d915164e3fb",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-9/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 800,
        "y": 3960,
        "wires": []
    },
    {
        "id": "1d64d3eac2423517",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 4120,
        "wires": []
    },
    {
        "id": "fa53c2b05c037de3",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 2",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 3960,
        "wires": [
            [
                "1d64d3eac2423517"
            ]
        ]
    },
    {
        "id": "54d81ee2c15db32c",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "m-9",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=dfaa012d-902c-4e51-b812-56b5df1ab6d8",
                "datatypeName": ""
            }
        ],
        "x": 70,
        "y": 3820,
        "wires": [
            [
                "923c84cd8560ea6f",
                "fa53c2b05c037de3"
            ]
        ]
    },
    {
        "id": "f61bec5c1df011a8",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "222f7fd11f336177",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "5225892a27959161"
            ]
        ]
    },
    {
        "id": "5225892a27959161",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 15",
        "func": "const state = msg.payload.value[0].value.value\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {name: \"MC-1\", \nipAddress: \"192.168.1.1\", status, state}\nif(state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "f61bec5c1df011a8",
                "b0a743d04b0bce27"
            ]
        ]
    },
    {
        "id": "b0a743d04b0bce27",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-1/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "5b5c2285c6da1c8f",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "8579e3a33eb4809c",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 16",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "5b5c2285c6da1c8f"
            ]
        ]
    },
    {
        "id": "40edb267dc8f4b40",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-1",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=04703049-2f00-4d22-b5a5-b8e73b1aefc9",
                "datatypeName": ""
            }
        ],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "222f7fd11f336177",
                "8579e3a33eb4809c"
            ]
        ]
    },
    {
        "id": "af72c855e92a778b",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 3660,
        "wires": []
    },
    {
        "id": "9a032e08cc777f5b",
        "type": "OPCUA-IIoT-Read",
        "z": "347e42a6a46aef70",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 440,
        "y": 3500,
        "wires": [
            [
                "058c528a88c0a551"
            ]
        ]
    },
    {
        "id": "058c528a88c0a551",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 19",
        "func": "const state = msg.payload.value[0].value.value\nconst machine_id = msg.payload.value[1].value.value\nconst user_id = msg.payload.value[2].value.value\nconst g_code_name = msg.payload.value[3].value.value\nconst k_num = msg.payload.value[4].value.value\nconst output_wp = msg.payload.value[5].value.value\nconst tool_name = msg.payload.value[6].value.value\nconst toal_cutting_time = msg.payload.value[7].value.value\n\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\n\n\nmsg.payload = {\n    name: \"MC-8\",\n    ipAddress: \"192.168.1.8\",\n    status,\n    state,\n    machine_id,\n    user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    toal_cutting_time\n}\nif (state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 3580,
        "wires": [
            [
                "af72c855e92a778b",
                "1221ad30985d4327"
            ]
        ]
    },
    {
        "id": "1221ad30985d4327",
        "type": "mqtt out",
        "z": "347e42a6a46aef70",
        "name": "",
        "topic": "mc-8/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 810,
        "y": 3620,
        "wires": []
    },
    {
        "id": "e45dcf7a211e78f9",
        "type": "debug",
        "z": "347e42a6a46aef70",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 3780,
        "wires": []
    },
    {
        "id": "c743bf0e1d91da25",
        "type": "function",
        "z": "347e42a6a46aef70",
        "name": "function 20",
        "func": "msg.payload = 'connecting...'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3620,
        "wires": [
            [
                "e45dcf7a211e78f9"
            ]
        ]
    },
    {
        "id": "2ed4504a58d3f034",
        "type": "OPCUA-IIoT-Inject",
        "z": "347e42a6a46aef70",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-8",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=24f0072f-e7dd-40ec-ac9d-cb8c8d3a3ded",
                "datatypeName": ""
            },
            {
                "name": "machine_id",
                "nodeId": "ns=2;g=60b675fc-cff1-448f-bf78-651683fa11d5",
                "datatypeName": ""
            },
            {
                "name": "user_id",
                "nodeId": "ns=2;g=84aad980-87e0-4332-9318-0bd18a13b8d9",
                "datatypeName": ""
            },
            {
                "name": "g_code_name",
                "nodeId": "ns=2;g=600833d8-dbb8-41fc-895c-6caba8ec60fe",
                "datatypeName": ""
            },
            {
                "name": "k_num",
                "nodeId": "ns=2;g=3e59d283-dfab-4764-bf42-d2891e438b40",
                "datatypeName": ""
            },
            {
                "name": "output_wp",
                "nodeId": "ns=2;g=3273fba5-2cea-4033-a3be-88ce90a73e99",
                "datatypeName": ""
            },
            {
                "name": "tool_name",
                "nodeId": "ns=2;g=63f11f07-71e1-4f48-b8c7-7b781f01bd6f",
                "datatypeName": ""
            },
            {
                "name": "total_cutting_time",
                "nodeId": "ns=2;g=478a3c46-a1c0-4e32-8490-4485ffe47b26",
                "datatypeName": ""
            }
        ],
        "x": 80,
        "y": 3480,
        "wires": [
            [
                "9a032e08cc777f5b",
                "c743bf0e1d91da25"
            ]
        ]
    },
    {
        "id": "8402a36728a1a1f8",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://DESKTOP-BCOSC66:48050/",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "LOCAL SERVER",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": 10
    },
    {
        "id": "281bb8063a85bef9",
        "type": "mqtt-broker",
        "name": "pub mc 9",
        "broker": "mqtt://localhost:1883",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "msg.payload",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]