node-red/pubToLocal.json
[
    {
        "id": "761a5f9d0174076a",
        "type": "tab",
        "label": "publish to local mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cd78278f790e0ce",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 780,
        "wires": []
    },
    {
        "id": "9346852bde93e660",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "36c44f752ee36a38"
            ]
        ]
    },
    {
        "id": "36c44f752ee36a38",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 3",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-10'\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\nmsg.payload = {\n    name, ipAddress: \"192.168.1.11\", status,\n    state,\n    user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\nif (state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 720,
        "wires": [
            [
                "8cd78278f790e0ce",
                "662160f1020d91c5"
            ]
        ]
    },
    {
        "id": "662160f1020d91c5",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-10/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "d3b04acf7b2c2227",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-10",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=9b7185a4-e709-49b1-a511-47465e7cd315",
                "datatypeName": ""
            },
            {
                "name": "USER_ID",
                "nodeId": "ns=2;g=28fbe01e-f011-4452-abea-e835c8f9fad8",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=c5a79227-dca2-4022-9df1-457c506e4f5b",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=eec2d862-578e-4898-9e6f-27b1c006896e",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=0047120d-e56e-4484-bd20-67b75d361d3b",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=30be3cf0-e0cf-411f-94fd-9fba77a61fdf",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=a609a7ba-acb2-4d8f-967e-0d99bfa1fdec",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=b03b2414-3314-4d7d-800d-ba77283f9f48",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 600,
        "wires": [
            [
                "9346852bde93e660"
            ]
        ]
    },
    {
        "id": "08816d03dc899022",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1180,
        "wires": []
    },
    {
        "id": "db2d6ff2bf45dba9",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "e23c88b50ffa74bb"
            ]
        ]
    },
    {
        "id": "e23c88b50ffa74bb",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 5",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-14'\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\n\nmsg.payload = {\n    name,\n    ipAddress: \"192.168.1.14\",\n    status,\n    state,\n    user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\nif (state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "08816d03dc899022",
                "7ab44eba3856e217"
            ]
        ]
    },
    {
        "id": "7ab44eba3856e217",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-14/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 910,
        "y": 1140,
        "wires": []
    },
    {
        "id": "049b661719de4db8",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-14",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=3609fd8e-ce82-4bf0-af9c-625dbda3f45c",
                "datatypeName": ""
            },
            {
                "name": "user_id",
                "nodeId": "ns=2;g=52c67c6a-09b2-4e7a-9bb3-9e7af2b5ec5c",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=66371048-cc5f-4ebf-a779-c24f61c7a762",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=f29e492f-528d-4564-9d5e-738176f7a1d5",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=7871df99-eada-45c0-9d90-90c813706aaa",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=72b2160f-c97e-417a-be8f-7fad2f6ef2da",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=c6951e5e-de35-479a-928d-32803be49fb8",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=0bc5115d-1e02-4e90-ae38-83138b4bfc97",
                "datatypeName": ""
            }
        ],
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "db2d6ff2bf45dba9"
            ]
        ]
    },
    {
        "id": "f0af80f76eae6429",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1620,
        "wires": []
    },
    {
        "id": "98d70457f705313b",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 510,
        "y": 1460,
        "wires": [
            [
                "cc6cd68199d5296d"
            ]
        ]
    },
    {
        "id": "cc6cd68199d5296d",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 7",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-15'\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\n\nmsg.payload = {\n    name, ipAddress: \"192.168.1.15\",\n    status, state, user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\nif (state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1540,
        "wires": [
            [
                "f0af80f76eae6429",
                "3fa7826e66314597"
            ]
        ]
    },
    {
        "id": "3fa7826e66314597",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-15/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 890,
        "y": 1580,
        "wires": []
    },
    {
        "id": "7530eecbe0c7d910",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-15",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=a91c44d9-c7e2-4c67-a514-ed0f10fdb471",
                "datatypeName": ""
            },
            {
                "name": "USER_ID",
                "nodeId": "ns=2;g=4e004383-fa88-4597-a5d4-d55f82ac90ac",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=748d2ce5-a17c-4c6e-80b0-55a82f91da4e",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=e15bcdaa-d04f-4a98-856c-c069613177e7",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=02dd1b4d-690a-4ade-9cce-54ef6278245a",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=c439585a-cb40-483c-94b1-ae2ed78e009a",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=c863f5a7-8bf8-415b-8e2e-8eb29e4da5be",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=e3f4758a-a771-4a3a-a871-9c985810838a",
                "datatypeName": ""
            }
        ],
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "98d70457f705313b"
            ]
        ]
    },
    {
        "id": "3306b5f400fc5eb6",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 2040,
        "wires": []
    },
    {
        "id": "f59f775b8213979e",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 1880,
        "wires": [
            [
                "22a110824ba2f123"
            ]
        ]
    },
    {
        "id": "22a110824ba2f123",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 9",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-16'\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\n\nmsg.payload = {\n    name, ipAddress: \"192.168.1.116\",\n    status, state, user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\nif (state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1960,
        "wires": [
            [
                "3306b5f400fc5eb6",
                "dbb2505803d260d4"
            ]
        ]
    },
    {
        "id": "dbb2505803d260d4",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-16/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 870,
        "y": 2000,
        "wires": []
    },
    {
        "id": "4d2d2ae18d7dc852",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-16",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=ec8fc5d6-69fc-4e0a-b4e0-45343f70cbef",
                "datatypeName": ""
            },
            {
                "name": "USER_ID",
                "nodeId": "ns=2;g=e4d9e265-76e0-44bd-bf6d-af5b871d29fb",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=e0ba5d55-28a5-44c6-8925-532dc5831fe6",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=4d61c5fa-2e92-4f0a-905d-12d4673f302c",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=ad8bac49-04d2-44db-998c-afeba242d162",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=d742213f-63bb-425a-a502-7bbabc0d5d0e",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=c1383eba-d54a-4740-b344-ed752c7a56a2",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=4a3dc54e-050f-4608-a597-178ad23cc3f9",
                "datatypeName": ""
            }
        ],
        "x": 140,
        "y": 1860,
        "wires": [
            [
                "f59f775b8213979e"
            ]
        ]
    },
    {
        "id": "30946beba6396e64",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2480,
        "wires": []
    },
    {
        "id": "8261bfe307b76a9a",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 470,
        "y": 2320,
        "wires": [
            [
                "61d4c05ae1868f45"
            ]
        ]
    },
    {
        "id": "61d4c05ae1868f45",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 11",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-4'\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\n\nmsg.payload = {\n    name, ipAddress: \"192.168.1.4\", status,\n    state, user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\nif (state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 2320,
        "wires": [
            [
                "30946beba6396e64",
                "ce55a6dbc404f2f4"
            ]
        ]
    },
    {
        "id": "ce55a6dbc404f2f4",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-4/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 840,
        "y": 2440,
        "wires": []
    },
    {
        "id": "1951d645001873a5",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-4",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=2ecff197-6a2d-4e87-bfb5-2af1077b09d5",
                "datatypeName": ""
            },
            {
                "name": "USER_ID",
                "nodeId": "ns=2;g=f9d37a64-1074-481c-89e1-b374cc86fc90",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=92ad1686-2d3e-441e-bd20-e9a8ba0f3c5b",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=47f49ca2-563e-4b18-a890-aecce68bc6c4",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=9f66c07f-0dfa-4b96-93d3-28fa3458cffa",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=8eb3aa97-a2d1-4a95-b7fa-45d54a4eec00",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=8d01f299-7dc2-43ac-8c0c-9db7e42e70bc",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=496d6244-1199-48ed-b89d-17682fe9a501",
                "datatypeName": ""
            }
        ],
        "x": 110,
        "y": 2300,
        "wires": [
            [
                "8261bfe307b76a9a"
            ]
        ]
    },
    {
        "id": "6501ae52205f46d2",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 2840,
        "wires": []
    },
    {
        "id": "f36b53e21f9bc4a0",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 470,
        "y": 2680,
        "wires": [
            [
                "a7130a86e9a3c207"
            ]
        ]
    },
    {
        "id": "a7130a86e9a3c207",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 13",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-5'\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\nmsg.payload = {\n    name, ipAddress: \"192.168.1.5\", status,\n    state, user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\nif (state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2760,
        "wires": [
            [
                "6501ae52205f46d2",
                "31370db4807221d4"
            ]
        ]
    },
    {
        "id": "31370db4807221d4",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-5/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 840,
        "y": 2800,
        "wires": []
    },
    {
        "id": "ac949c7f36440bc9",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-5",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=e5b29816-d85d-45c5-a1c8-e65d3deae6bd",
                "datatypeName": ""
            },
            {
                "name": "USER_ID",
                "nodeId": "ns=2;g=4ea0fcc5-147a-408c-afa6-15f2e68acaca",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=8fa242c2-83aa-402b-b618-41fc56f672b8",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=8161350b-91f0-458c-83d5-ba629020aaf3",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=dfa74f3b-de92-4423-add6-28d288ee5249",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=e3c8fd50-6810-44dc-9f35-f45b3ad84588",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=07f3f953-6239-4d3d-a4fd-951fb9f9f49a",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=8d291353-281a-4273-a9d1-c668fc485123",
                "datatypeName": ""
            }
        ],
        "x": 110,
        "y": 2660,
        "wires": [
            [
                "f36b53e21f9bc4a0"
            ]
        ]
    },
    {
        "id": "01b3554b9769177c",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 3320,
        "wires": []
    },
    {
        "id": "671fe49ea8b33de0",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 3160,
        "wires": [
            [
                "7dc46059f486e44e"
            ]
        ]
    },
    {
        "id": "7dc46059f486e44e",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 17",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-6'\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\n\nmsg.payload = {\n    name, ipAddress: \"192.168.1.6\",\n    status, state,\n     user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 3240,
        "wires": [
            [
                "01b3554b9769177c",
                "a32e7946ae090a4a"
            ]
        ]
    },
    {
        "id": "a32e7946ae090a4a",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-6/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 860,
        "y": 3280,
        "wires": []
    },
    {
        "id": "e0b6c69cc2910d37",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-6",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=4324bcfb-a756-41f7-a633-4af3122ed729",
                "datatypeName": ""
            },
            {
                "name": "USER_ID",
                "nodeId": "ns=2;g=55bae048-2232-47a3-9b27-f24cef7f06fb",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=5e36095e-0b99-4464-b280-93426e1ac568",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=ca9442d3-3758-4f5f-94ae-17dcfc6d925c",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=5265aed1-16ca-46e6-82af-16a5549b37d5",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=28e39458-856d-40c0-aebf-7cf086110e53",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=984b2dc9-bc2b-4ca5-ab78-81eb51e596f0",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=ef683a3b-bba5-40b5-9c52-ec027816cdee",
                "datatypeName": ""
            }
        ],
        "x": 130,
        "y": 3140,
        "wires": [
            [
                "671fe49ea8b33de0"
            ]
        ]
    },
    {
        "id": "eac8fa70c499687e",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 4000,
        "wires": []
    },
    {
        "id": "7015eb17cf9705c8",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 430,
        "y": 3840,
        "wires": [
            [
                "50b5914431e89ae6"
            ]
        ]
    },
    {
        "id": "50b5914431e89ae6",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 1",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\nconst name = \"MC-9\"\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nmsg.payload = {\n    name, ipAddress: \"192.168.1.9\", status,\n    state, user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\n\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 4020,
        "wires": [
            [
                "eac8fa70c499687e",
                "0eb460b983386dad"
            ]
        ]
    },
    {
        "id": "0eb460b983386dad",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-9/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 800,
        "y": 3960,
        "wires": []
    },
    {
        "id": "903f219f9cf98a88",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "m-9",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=dfaa012d-902c-4e51-b812-56b5df1ab6d8",
                "datatypeName": ""
            },
            {
                "name": "USER_ID",
                "nodeId": "ns=2;g=da49edb4-d9d9-40bf-8b89-88aebcb24a94",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=2feaad54-b0a0-4809-9f6a-7f72fad768ec",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=aeaa1dae-2ac4-4c47-9549-986663e28b18",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=84b3eb72-1bc9-47c2-86d4-837b1e7255cb",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=7cddc413-5966-402f-9b21-339277a683e6",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=f4e121f3-9019-428a-98c1-fd23948555e4",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=bfaa8e00-6253-4969-91d5-cd750a26fcff",
                "datatypeName": ""
            }
        ],
        "x": 70,
        "y": 3820,
        "wires": [
            [
                "7015eb17cf9705c8"
            ]
        ]
    },
    {
        "id": "0bbd08315d16eff9",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "1738c1442949d98c",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "490a59268c93432d"
            ]
        ]
    },
    {
        "id": "490a59268c93432d",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 15",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\n\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-1'\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\nmsg.payload = {\n    name,\n    ipAddress: \"192.168.1.1\", status,\n    state,\n    user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time,\n    calculate_total_cutting_time\n}\nif (state === undefined) {\n    msg.payload.err = 'disconnect'\n}\n// msg.payload = {state}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 320,
        "wires": [
            [
                "0bbd08315d16eff9",
                "f43a9af85f028d9b"
            ]
        ]
    },
    {
        "id": "f43a9af85f028d9b",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-1/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "ce3c69dd0e981cd6",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-1",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=04703049-2f00-4d22-b5a5-b8e73b1aefc9",
                "datatypeName": ""
            },
            {
                "name": "USER_ID",
                "nodeId": "ns=2;g=f469ae56-8455-43ce-8888-abeea29394d2",
                "datatypeName": ""
            },
            {
                "name": "G_CODE_NAME",
                "nodeId": "ns=2;g=92ed3491-bea7-4f4e-8a85-6de117d2f321",
                "datatypeName": ""
            },
            {
                "name": "K_NUM",
                "nodeId": "ns=2;g=4c50b4ac-81d2-4703-baee-bcedd284a095",
                "datatypeName": ""
            },
            {
                "name": "OUTPUT_WP",
                "nodeId": "ns=2;g=7aad79a8-8428-4b24-b9d3-7b283d139380",
                "datatypeName": ""
            },
            {
                "name": "TOOL_NAME",
                "nodeId": "ns=2;g=543d15eb-540f-4042-a642-bfe62b5ec1e8",
                "datatypeName": ""
            },
            {
                "name": "TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=34f8390e-2644-4d57-9d72-0fc14b0a1bae",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=6c01813c-0db0-4aa4-8de9-859f077883a2",
                "datatypeName": ""
            }
        ],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "1738c1442949d98c"
            ]
        ]
    },
    {
        "id": "e8e237d6f72221cd",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 3660,
        "wires": []
    },
    {
        "id": "c408f1d5421f570b",
        "type": "OPCUA-IIoT-Read",
        "z": "761a5f9d0174076a",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "8402a36728a1a1f8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 440,
        "y": 3500,
        "wires": [
            [
                "1d07b7b0514605ec"
            ]
        ]
    },
    {
        "id": "1d07b7b0514605ec",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "function 19",
        "func": "const state = msg.payload.value[0].value.value\nconst user_id = msg.payload.value[1].value.value\nconst g_code_name = msg.payload.value[2].value.value\nconst k_num = msg.payload.value[3].value.value\nconst output_wp = msg.payload.value[4].value.value\nconst tool_name = msg.payload.value[5].value.value\nconst total_cutting_time = msg.payload.value[6].value.value\nconst calculate_total_cutting_time = msg.payload.value[7].value.value?.toString()\n\nconst runningValue = 3\nconst runningValue2 = 768\nconst runningCondition = state === runningValue || state === runningValue2\nconst status = runningCondition ? \"Running\" : \"Stopped\"\nconst name = 'MC-8'\n\nif (state === undefined) {\n    node.error(`${name} disconnect`, msg);\n    return\n}\n\nmsg.payload = {\n    name,\n    ipAddress: \"192.168.1.8\",\n    status,\n    state,\n    user_id,\n    output_wp,\n    g_code_name,\n    k_num,\n    tool_name,\n    total_cutting_time: Math.round(total_cutting_time),\n    calculate_total_cutting_time\n}\n\n// msg.payload = {state}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 3580,
        "wires": [
            [
                "e8e237d6f72221cd",
                "1501c6b8ac38a291"
            ]
        ]
    },
    {
        "id": "1501c6b8ac38a291",
        "type": "mqtt out",
        "z": "761a5f9d0174076a",
        "name": "",
        "topic": "mc-8/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "281bb8063a85bef9",
        "x": 810,
        "y": 3620,
        "wires": []
    },
    {
        "id": "6780a993cc611d15",
        "type": "OPCUA-IIoT-Inject",
        "z": "761a5f9d0174076a",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "mc-8",
        "addressSpaceItems": [
            {
                "name": "running_state",
                "nodeId": "ns=2;g=24f0072f-e7dd-40ec-ac9d-cb8c8d3a3ded",
                "datatypeName": ""
            },
            {
                "name": "user_id",
                "nodeId": "ns=2;g=84aad980-87e0-4332-9318-0bd18a13b8d9",
                "datatypeName": ""
            },
            {
                "name": "g_code_name",
                "nodeId": "ns=2;g=600833d8-dbb8-41fc-895c-6caba8ec60fe",
                "datatypeName": ""
            },
            {
                "name": "k_num",
                "nodeId": "ns=2;g=3e59d283-dfab-4764-bf42-d2891e438b40",
                "datatypeName": ""
            },
            {
                "name": "output_wp",
                "nodeId": "ns=2;g=3273fba5-2cea-4033-a3be-88ce90a73e99",
                "datatypeName": ""
            },
            {
                "name": "tool_name",
                "nodeId": "ns=2;g=63f11f07-71e1-4f48-b8c7-7b781f01bd6f",
                "datatypeName": ""
            },
            {
                "name": "total_cutting_time",
                "nodeId": "ns=2;g=478a3c46-a1c0-4e32-8490-4485ffe47b26",
                "datatypeName": ""
            },
            {
                "name": "CALCULATE_TOTAL_CUTTING_TIME",
                "nodeId": "ns=2;g=f4e1f7c3-5a86-4dba-8664-14a08b5ecd50",
                "datatypeName": ""
            }
        ],
        "x": 80,
        "y": 3480,
        "wires": [
            [
                "c408f1d5421f570b"
            ]
        ]
    },
    {
        "id": "ebde31c693cead44",
        "type": "catch",
        "z": "761a5f9d0174076a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 320,
        "y": 4240,
        "wires": [
            [
                "dd16f101b5b7c40f"
            ]
        ]
    },
    {
        "id": "6a8a94559aaef3a8",
        "type": "debug",
        "z": "761a5f9d0174076a",
        "name": "error handler",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 4220,
        "wires": []
    },
    {
        "id": "dd16f101b5b7c40f",
        "type": "function",
        "z": "761a5f9d0174076a",
        "name": "handleError",
        "func": "\nreturn msg.error;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 4240,
        "wires": [
            [
                "6a8a94559aaef3a8"
            ]
        ]
    },
    {
        "id": "8402a36728a1a1f8",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://DESKTOP-BCOSC66:48050/",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "LOCAL SERVER",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": 10
    },
    {
        "id": "281bb8063a85bef9",
        "type": "mqtt-broker",
        "name": "pub mc 9",
        "broker": "mqtt://localhost:1883",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "msg.payload",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]